data/.flows.json.backup
[
    {
        "id": "4668cb4464f76ef5",
        "type": "tab",
        "label": "Website Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be6d5efd0c6ff226",
        "type": "tab",
        "label": "Post Responder",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "942dc37616da95b9",
        "type": "tab",
        "label": "Sensor init",
        "disabled": false,
        "info": "Goal is to enable the first handshake with a sensor using a POST Request",
        "env": []
    },
    {
        "id": "1f1fc398241323e9",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2c287116b37742e8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "aeff77af76e336a5",
        "type": "ui_group",
        "name": "Standard",
        "tab": "1f1fc398241323e9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b35b3f17e0155de8",
        "type": "debug",
        "z": "4668cb4464f76ef5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "056959096706bb03",
        "type": "inject",
        "z": "4668cb4464f76ef5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World!",
        "payloadType": "str",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "b35b3f17e0155de8",
                "60ab75a7c61273b8"
            ]
        ]
    },
    {
        "id": "7605bb656fbdb7b6",
        "type": "ui_template",
        "z": "4668cb4464f76ef5",
        "group": "aeff77af76e336a5",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "60ab75a7c61273b8",
        "type": "ui_toast",
        "z": "4668cb4464f76ef5",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "d89a12113b35b762",
        "type": "http in",
        "z": "be6d5efd0c6ff226",
        "name": "",
        "url": "/test",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "d40b208ae856a9fc",
                "ed28a0ab1052076c",
                "85a1c4ded6f3f3b6"
            ]
        ]
    },
    {
        "id": "d40b208ae856a9fc",
        "type": "debug",
        "z": "be6d5efd0c6ff226",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "064d0edae39abf68",
        "type": "http response",
        "z": "be6d5efd0c6ff226",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "a8f13fab6b7e23bb",
        "type": "ui_toast",
        "z": "be6d5efd0c6ff226",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "ed28a0ab1052076c",
        "type": "change",
        "z": "be6d5efd0c6ff226",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.msg",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "a8f13fab6b7e23bb"
            ]
        ]
    },
    {
        "id": "85a1c4ded6f3f3b6",
        "type": "switch",
        "z": "be6d5efd0c6ff226",
        "name": "",
        "property": "payload.msg",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "064d0edae39abf68"
            ],
            [
                "909f2dd00e24209c"
            ]
        ]
    },
    {
        "id": "54b222f8df1678a4",
        "type": "http response",
        "z": "be6d5efd0c6ff226",
        "name": "",
        "statusCode": "400 ",
        "headers": {
            "content-type": "text/plain"
        },
        "x": 990,
        "y": 280,
        "wires": [],
        "info": "\"msg\" attribute musst be given"
    },
    {
        "id": "909f2dd00e24209c",
        "type": "template",
        "z": "be6d5efd0c6ff226",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\"msg\" must be given!",
        "output": "str",
        "x": 780,
        "y": 280,
        "wires": [
            [
                "54b222f8df1678a4"
            ]
        ]
    },
    {
        "id": "e6256739bb89246f",
        "type": "http in",
        "z": "942dc37616da95b9",
        "name": "",
        "url": "sensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "f54cad9c07529db3"
            ]
        ]
    },
    {
        "id": "57f00c388b19d631",
        "type": "json",
        "z": "942dc37616da95b9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "7eadf39431d3ce1f"
            ]
        ]
    },
    {
        "id": "7eadf39431d3ce1f",
        "type": "switch",
        "z": "942dc37616da95b9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f54cad9c07529db3",
        "type": "RequestValidator",
        "z": "942dc37616da95b9",
        "name": "",
        "group_name": "",
        "query": "{}",
        "reqbody": "{\"id\":{\"type\":\"integer\",\"required\":\"true\"}}",
        "method": "POST",
        "includeHeader": false,
        "headerSchema": "",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "1e77a137eea28190"
            ],
            [
                "fa41242f5012781f",
                "7682af577efd928e"
            ]
        ]
    },
    {
        "id": "75ee7ab3e0c1136e",
        "type": "http response",
        "z": "942dc37616da95b9",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "fa41242f5012781f",
        "type": "http response",
        "z": "942dc37616da95b9",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "d1b45e9f606025aa",
        "type": "debug",
        "z": "942dc37616da95b9",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 160,
        "wires": []
    },
    {
        "id": "7682af577efd928e",
        "type": "debug",
        "z": "942dc37616da95b9",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "016875d485a1001d",
        "type": "comment",
        "z": "942dc37616da95b9",
        "name": "Error node at the bottom",
        "info": "",
        "x": 450,
        "y": 300,
        "wires": []
    },
    {
        "id": "1e77a137eea28190",
        "type": "function",
        "z": "942dc37616da95b9",
        "name": "function 1",
        "func": "var count = context.get(\"numSensors\") || 0;\ncount++;\ncontext.set(\"numSensors\", count);\nmsg.payload.sensorID = count;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 240,
        "wires": [
            [
                "75ee7ab3e0c1136e",
                "d1b45e9f606025aa"
            ]
        ]
    }
]