data/.flows.json.backup
[
    {
        "id": "4668cb4464f76ef5",
        "type": "tab",
        "label": "Website Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be6d5efd0c6ff226",
        "type": "tab",
        "label": "Post Responder",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f1fc398241323e9",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2c287116b37742e8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "aeff77af76e336a5",
        "type": "ui_group",
        "name": "Standard",
        "tab": "1f1fc398241323e9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b35b3f17e0155de8",
        "type": "debug",
        "z": "4668cb4464f76ef5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "056959096706bb03",
        "type": "inject",
        "z": "4668cb4464f76ef5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World!",
        "payloadType": "str",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "b35b3f17e0155de8",
                "60ab75a7c61273b8"
            ]
        ]
    },
    {
        "id": "7605bb656fbdb7b6",
        "type": "ui_template",
        "z": "4668cb4464f76ef5",
        "group": "aeff77af76e336a5",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "60ab75a7c61273b8",
        "type": "ui_toast",
        "z": "4668cb4464f76ef5",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "d89a12113b35b762",
        "type": "http in",
        "z": "be6d5efd0c6ff226",
        "name": "",
        "url": "/sensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "d40b208ae856a9fc",
                "064d0edae39abf68",
                "5487a2efa8258349"
            ]
        ]
    },
    {
        "id": "d40b208ae856a9fc",
        "type": "debug",
        "z": "be6d5efd0c6ff226",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "064d0edae39abf68",
        "type": "http response",
        "z": "be6d5efd0c6ff226",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 540,
        "y": 300,
        "wires": []
    },
    {
        "id": "5487a2efa8258349",
        "type": "function",
        "z": "be6d5efd0c6ff226",
        "name": "function 1",
        "func": "msg.payload = msg.payload.msg\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 360,
        "wires": [
            [
                "a8f13fab6b7e23bb"
            ]
        ]
    },
    {
        "id": "a8f13fab6b7e23bb",
        "type": "ui_toast",
        "z": "be6d5efd0c6ff226",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 360,
        "wires": []
    }
]